@font-face {
    font-family: 'zt-regular';
    src: url('/fonts/ZTTalk-Regular.woff2') format('woff');
}

@font-face {
    font-family: 'zt-medium';
    src: url('/fonts/ZTTalk-Medium.woff2') format('woff');
}

@font-face {
    font-family: 'zt-bold';
    src: url('/fonts/ZTTalk-Bold.woff2') format('woff');
}

@font-face {
    font-family: 'zt-semibold';
    src: url('/fonts/ZTTalk-SemiBold.woff2') format('woff');
}

@font-face {
    font-family: 'zt-semibolditalic';
    src: url('/fonts/ZTTalk-SemiBoldItalic.woff2') format('woff');
}

/* HEAVY */
@font-face {
    font-family: 'zt-heavy';
    src: url('/fonts/ZTTalk-Heavy.woff2') format('woff');
}

@font-face {
    font-family: 'zt-heavy-condensed';
    src: url('/fonts/ZTTalk-HeavyCondensed.woff2') format('woff');
}

@font-face {
    font-family: 'zt-heavy-expanded';
    src: url('/fonts/ZTTalk-HeavyExpanded.woff2') format('woff');
}

@font-face {
    font-family: 'zt-heavy-semiexp';
    src: url('/fonts/ZTTalk-HeavySemiExpanded.woff2') format('woff');
}

/* EXTRA BOLD */
@font-face {
    font-family: 'zt-extbd-semiexp';
    src: url('/fonts/ZTTalk-ExtraBoldSemiExpanded.woff2') format('woff');
}

html {
    background-color: #f1f5f9;
    font-family: 'zt-medium', sans-serif;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.brand-header div {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: 'zt-heavy-semiexp', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#back-btn {
    display: flex;
    align-items: center;
    color: blue;
    text-transform: uppercase;
    font-family: 'zt-bold', sans-serif;
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 80px;
}

#back-btn span {
    margin-left: 5px;
    font-size: 1rem;
}

/* nav styles */

.hamburger {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: black;
}

.brand-header {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 1rem;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
    /* max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out; */
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    border-bottom: 1px solid gray;
    transition: background-color .15s ease-in-out;
    font-family: 'zt-bold', sans-serif;
}

#film-tv-link:hover {
    background-color: #DCFF4E;
}

#music-videos-link:hover {
    background-color: #6BFFF6;
}

#radio-link:hover {
    background-color: #ffc61a;
}

#photos-link:hover {
    background-color: #B1FF4E;
}

#about-link:hover {
    background-color: #DCFF4E;
}

.expanded {
    display: unset;
    /* max-height: unset; */
}

@media screen and (min-width: 769px) {
    nav {
        flex-flow: row nowrap;
        padding: 0;
    }

    .nav-links {
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        border-bottom: none;
    }

    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    nav {
        padding: 0;
        ;
    }

    .brand-header div {
        font-size: 2rem;
    }
}