.video-container {
    width: 100%;
    display: block;
    margin: 0 auto 8rem auto;
    text-align: center;
}

.thumbnail {
    width: 100%;
    max-width: 382px;
    height: auto;
    padding: 0.5rem 0;
    display: inline-block;
}

img {
    width: 100%;
    height: auto;
}

.caption {
    text-align: center;
    font-size: 1rem;
}

.video {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 5%;
}

.title {
    font-size: 1.2rem;
    font-family: 'zt-semibold', sans-serif;
}

.video .role,
.press-label {
    font-size: 1.1rem;
}

.title,
.role,
.rent-label {
    margin: .5rem 0;
}

.video-wrapper,
.player {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.press-link,
.rent-label {
    width: 100%;
}

.press-link a,
.rent-label a {
    color: blue;
    display: contents;
}

.press-link a:hover,
.rent-label a:hover {
    font-family: "zt-semibold", sans-serif;
}

.press-container {
    text-align: left;
}

@media screen and (min-width: 769px) {
    .video-container {
        text-align: unset;
    }

    .press-container {
        margin-top: -4%;
    }

    .thumbnail {
        width: 33.333333%;
        padding: 0.5rem 0.2rem;
    }
}

@media screen and (max-width: 550px) {
    .role {
        margin: 0
    }
}