.video-container {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.thumbnail {
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    display: inline-block;
}

img {
    width: 100%;
}

.caption {
    text-align: center;
    font-size: 1rem;
}

.video {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 5%;
}

.title {
    font-size: 1.2rem;
    font-family: 'ZTTalk-SemiBold', sans-serif;
}

.video .role {
    font-size: 1.1rem;
}

.title, .role {
    margin: .5rem 0;
}

.video-wrapper, .player{
	width: 100%;
}

@media screen and (min-width: 769px) {
    .thumbnail {
        width: 33.333333%;
        padding: 0.5rem 0.2rem;
    }
}