---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout isMinNav={false}>
<a href="https://www.halfmoonbk.com/residents/kate-sweeney" target="_blank"> <h3>Halfmoon BK</h3></a>

    <!-- <p>April</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1489486354&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>May</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1537300954&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>July</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1589040223&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>August</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1589058619&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>September</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1613931726&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>October</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1629543564&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>November</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1659184284&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>December</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1684938588&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <!-- <p>January</p> -->
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1713189522&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    <a href="https://www.nts.live/shows/on-the-road-2023/episodes/on-the-road-2023-garden-state-parkway-w-kate-sweeney-5th-august-2023" target="_blank"><h3>NTS On the Road</h3></a>
    <a href="https://www.wfmu.org/playlists/shows/124146" target="_blank"><h3>WFMU Radio Row 1/29/23</h3></a>
    <a href="https://wfmu.org/playlists/shows/124427" target="_blank"><h3>WFMU Radio Row 2/5/23</h3></a>
    <a href="https://www.mixcloud.com/kate-sweeney/" target="_blank"><h3>Mixcloud</h3></a>
</BaseLayout>

<style>
    a {
        color: blue;
    }

    p, a {
        font-size: 1.2rem;
    }

    iframe {
        margin: 1rem 0;
    }
</style>