---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout isMinNav={false}>
    <div class="link">
        <a
            href="https://eastvillageradio.com/picnic-punk/"
            target="_blank"
            ><span>East Village Radio</span>
        </a>
    </div>
    <div class="link">
        <a
            href="https://www.halfmoonbk.com/residents/kate-sweeney"
            target="_blank"
        >
            <span>Halfmoon BK</span>
        </a>
    </div>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1489486354&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1537300954&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1589040223&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1589058619&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1613931726&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1629543564&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1659184284&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1684938588&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <iframe
        width="100%"
        height="166"
        scrolling="no"
        frameborder="no"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1713189522&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <div class="link">
        <a
            href="https://www.nts.live/shows/on-the-road-2023/episodes/on-the-road-2023-garden-state-parkway-w-kate-sweeney-5th-august-2023"
            target="_blank"
            ><span>NTS On the Road</span>
        </a>
    </div>
    <div class="link">
        <a href="https://www.wfmu.org/playlists/shows/124146" target="_blank"
            ><span>WFMU Radio Row 1/29/23</span>
        </a>
    </div>
    <div class="link">
        <a href="https://wfmu.org/playlists/shows/124427" target="_blank"
            ><span>WFMU Radio Row 2/5/23</span>
        </a>
    </div>
    <div class="link">
        <a href="https://www.mixcloud.com/kate-sweeney/" target="_blank"
            ><span>Mixcloud</span>
        </a>
    </div>
</BaseLayout>

<style>
    a {
        color: blue;
        display: contents;
        font-size: 1.35rem;
    }

    a:hover {
        font-family: "zt-semibold", sans-serif;
    }

    .link {
        width: 100%;
    }

    iframe {
        margin: 1rem 0;
    }
</style>
