<div class="nav-links">
    <a href="/film-tv/" id="film-tv-link">Film & TV</a>
    <a href="/music-videos/" id="music-videos-link">Music Videos</a>
    <a href="/radio/" id="radio-link">Radio</a>
    <a href="https://substack.com/@katetown" target="_blank" id="photos-link">Photos</a>
    <a href="/about/" id="about-link">About</a>
</div>
