<div class="nav-links">
    <a href="/film-tv/">Film & TV</a>
    <a href="/music-videos/">Music Videos</a>
    <a href="/radio/">Radio</a>
    <a href="/photos/">Photos</a>
    <a href="/about/">About</a>
</div>
