<footer>
  <p>Contact:</p>
  <a href="mailto:katesweeneytown@gmail.com"> katesweeneytown@gmail.com </a>
  <p class="small">Website by Leslie Xiong</p>
  <p class="small">©2025 Kate Sweeney</p>
</footer>

<style>
  footer {
    margin: 4rem auto 2rem auto;
    text-align: right;
    font-family: "zt-regular", sans-serif;
  }

  a {
    color: blue;
    font-family: "zt-medium", sans-serif;
  }

  .small {
    font-size: 0.8rem;
  }
</style>
