<footer>
    <p>Contact:</p>
    <span>Email: </span>
    <a href="mailto:hello@kate.town"> hello (at) kate (dot) town </a>
    <p class="small">Website by Leslie Xiong</p>
    <p class="small">©2025 Kate Sweeney</p>
</footer>

<style>
    footer {
        margin: 4rem auto 2rem auto;
        text-align: right;
        font-family: 'zt-regular', sans-serif;
    }

    a {
        color: blue;
    }

    .small {
        font-size: .8rem;
    }
</style>